
.App {
  text-align: center;
  background-color: var(--bg-color-dark);
  color: var(--font-color-dark);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  position: relative;
  background-color: var(--container-bg-color-dark);
  width: min(100%, 1200px);
  border-radius: 20px;
  min-height: 800px;
  padding: var(--container-padding);
  grid-gap: 20px;
}
