main {
    height: 100%;
    display: grid;
    /*grid-template-rows: repeat(8,1fr);*/
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.main-widget {
    grid-column: 1 / span 9;
    /*grid-row: 1 / span 4;*/
}

.main-widget .main-widget-header {
    display: flex;
    justify-content: space-around;
    margin: 12px;
}


.main-widget .main-widget-body {
}

.main-widget .main-widget-btn {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--container-bg-color-dark);
    color: var(--gray-default);
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.main-widget .main-widget-btn.active {
    background-color: var(--widget-pink-color);
    color: #000000;
}

.weather-widget-cover {
    grid-column: 10 / span 3;
    /*grid-row: 1 / span 4;*/
}

.widgets {
    grid-column: 1 / span 12;
    margin-bottom: 40px;
}

.widgets .widgets-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.widgets .widgets-header .widgets-title {
    text-align: start;
    font-size: 24px;
}

.widgets .widgets-header .widgets-edit {
    display: inline-flex;
    align-items: center;
    color: var(--gray-default);
    background-color: var(--widget-bg-color);
    border-radius: 8px;
    padding: 2px 6px 2px 12px;
}

.widgets .widgets-header .widgets-edit svg {
    width: 24px;
    height: 24px;
}

.widgets .widgets-header .widgets-edit svg g {
    stroke: var(--gray-default);
}


.widgets-contents {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
    height: 220px;
}



